@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.Home-page{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(215,225,236,1) 85%);
}

.Container{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    // width: 98%;
    border-radius: 5px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.Calender{
    width: 50vw;
    height: 100%;
    border-radius: 5px 0 0 10px;
    
    
}
